@import url('http://fonts.cdnfonts.com/css/nunito?styles=19288,19283,19286,19289,19279,19281,19277');

body {
  font-family: 'Nunito', sans-serif;
}

.flex {
  display: flex;
}

.nav {
  font-size: 20px;
  line-height: 27px;
  text-align: right;
  letter-spacing: 0.1em;
  color: #444b59;
}

.login-heading {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.1em;
  color: #444b59;
}

.login-heading-description {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: #444b59;
  margin-top: 12px;
}

.login-label {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.1em;
  color: #444b59;
  margin-top: 64px;
}

.login-input {
  height: 81px;
  background: #ffffff;
  border: 2px solid #789ade;
  border-radius: 80px;
  margin-top: 16px;
  color: #c8d3f9;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.1em;
  padding-left: 32px;
  padding-right: 35px;
}

.login-input .ant-input {
  border-radius: 80px;
  color: #c8d3f9;
  letter-spacing: 0.3em;
  font-size: 20px;
}

.login-input .anticon-eye-invisible {
  color: #9eb0ea;
}

.password-mgt36 {
  margin-top: 36px;
}

.login-remember-account {
  margin-left: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #444b59;
}

.login-forget-password {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #8699da;
}

.sign-in-btn {
  width: 100%;
  height: 80px;
  margin-top: 55px;
  background: #8699da;
  box-shadow: 4px 8px 12px rgba(78, 99, 141, 0.06),
    inset 0px 4px 12px rgba(200, 211, 249, 0.6);
  border-radius: 80px;

  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.login-others {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #444b59;
  width: 80%;
}
.login-others:before {
  content: '';
  flex: 1 1;
  border-bottom: 2px solid #c8d3f9;
  margin: auto;
  margin-right: 8px;
}
.login-others:after {
  content: '';
  flex: 1 1;
  border-bottom: 2px solid #c8d3f9;
  margin: auto;
  margin-left: 8px;
}

.login-social-account-container {
  width: 25%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #789ade;
  border-radius: 8px;
}

.cursor {
  cursor: pointer;
}

.col-nav-container {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-login-container {
  padding-top: 24px;
  padding-bottom: 109px;
}

.radio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-container .ant-radio-checked .ant-radio-inner::after {
  position: static;
  background: #9eb0ea;
  box-shadow: 2px 4px 4px rgb(78 99 141 / 12%),
    inset 0px 4px 4px rgb(200 211 249 / 60%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.radio-container .ant-radio-inner {
  width: 48px;
  height: 48px;
  border: 2px solid #9eb0ea;
}

.radio-container .ant-radio {
  border: none;
}

.radio-container .ant-radio-input:focus + .ant-radio-inner {
  border: 2px solid #9eb0ea;
}

@media only screen and (min-width: 1920px) {
  .logo-image {
    position: absolute;
    bottom: 15%;
    right: 8.59%;
    background-image: url(./assets/images/Logo.svg);
    width: 28%;
    height: 36px;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  .logo-top-1600x1200 {
    background-image: url(./assets/images/Logo.svg);
    width: 100%;
    height: 28.27px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .col-logo-header {
    padding-top: 60px;
  }

  .col-nav-container {
    padding-top: 56px;
  }

  .col-login-container {
    padding-top: 101px;
    padding-bottom: 118px;
  }
}
